* {
    padding: 0;
    margin: 0;
}

.first-screen__menu {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50%;
    width: 583px;
    height: 100px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;

}

.nav-element {
    border-bottom: 3px solid white;
}

.first-screen {
    background: url(images/bg1.png);
    width: 100%;
    height: 900px;
}

.first-screen__item {
    padding-top: 319px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.first-screen__header {
    font-size: 48px;
    width: 829px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

.first-screen__button {
    margin: 0 auto;
    margin-top: 50px;
    background-color: #4985FF;
    color: white;
    text-align: center;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

A {
    text-decoration: none;
}

.services {
    width: 1113px;
    margin: 110px auto;
}

.services__text {
    display: flex;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    width: 739px;
    line-height: 52, 66px;
}

.services__text-min {
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
    width: 730px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #999999;
    line-height: 25, 36px;
}

.services__article {
    display: flex;
}

.article {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 353px;
    height: 139px;
}

.content {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.h3 {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 13px;
    margin-left: 17px;
}

.text {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: grey;
    margin-left: 17px
}

.about-us {
    background-color: #F6F6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.about-us__text {
    margin-right: 121px;
}

.about-us__h1 {
    width: 424px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 52, 66px;
}

.about-us__p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #999999;
    width: 489px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.rectangle_2 {
    width: 500px;
    height: 400px;
}

.link2 {
    text-decoration: underline;
    color: 4985FF;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
}

.about-us__numbers__all {
    padding-top: 100px;
    padding-bottom: 70px;
    border-top: 1px solid #E0E0E0;
    background-color: #F6F6F8;
    display: flex;
    justify-content: center;
}

.about-us__numbers-firstl {
    width: 104px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.img__web-programming {
    width: 30px;
    height: 30px;
    display: flex;
}

.projects-125 {
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.our-projects {
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #999999;
    margin-right: 104px;
}

.all-services__violet {
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%);
    height: 490px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
    align-items: flex-start;
}


.all-services__violet__text {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: 700;
    font-size: 36px;
    width: 540px;
}

.all-services__violet__button {
    background-color: #4985FF;
    color: white;
    text-align: center;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.all-services__items__all {
    display: flex;
    margin-top: -20%;
    margin-bottom: 85px;
    padding-bottom: 85px;
    justify-content: space-between;
    border-bottom: 2px solid #E0E0E0;
}

.all-services__items__one {
    margin: 0 30px;
}

.all-services__items__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 350px;
    margin: 30px 0;
}

.all-services__items__h1 {
    color: #4985FF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.all-services__items__h1-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.all-services__items__text {
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 25, 36px;
    color: #999999;
}

.all-projects {
    background-color: #F6F6F8;
    height: 776px;
    width: 100%;
}

.all-projects__h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    width: 350px;
    padding-top: 100px;
    display: flex;
    margin: 0 auto;
}

.all-projects__text {
    color: #999999;
    font-family: 'Montserrat', sans-serif;
    width: 730px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25, 36px;
    padding-top: 50px;
    margin: 0 auto;
    padding-bottom: 70px;
    text-align: center;
}

.all-projects__images {
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
}

.all-projects__button {
    background-color: #4985FF;
    color: white;
    text-align: center;
    width: 200px;
    height: 45px;
    border-radius: 30px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.video {
    height: 570px;
    background-image: url(images/bg__video.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.video__h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 700;
    padding-top: 70px;
    padding-bottom: 30px;
    text-align: center;
}

.video__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: white;
    margin-bottom: 70px;
}

.video__bg {
    background-image: url(images/img2.png);
    background-repeat: no-repeat;
    height: 430px;
    width: 970px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding-bottom: 85px;
    border-bottom: 2px solid #E0E0E0;
}

.video__button {
    color: white;
    text-align: center;
    width: 300px;
    height: 100px;
    border: 2px solid white;
    border-radius: 45px;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-evenly;
}

.video__button__play {
    width: 60px;
    height: 60px;
}

.subscribe__h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-top: 240px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.subscribe__text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 30px;
    color: #999999;
}

.subscribe__form {
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    width: 340px;
    height: 45px;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #F2F2F2;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
}

.input-text {
    border: 0px solid;
}

.sub-text {
    font-family: 'Montserrat', sans-serif;
    background-color: #4985FF;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    padding: 13px 30px;
    border-radius: 30px;
    border: 0px solid;
}

.subscribe__text2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 85px;
}

.footer{
    background-color: #F6F6F8;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 70px;
    border-bottom: 2px solid #999999;
}
.footer__contacts{
    width: 250px;
}
.footer__contacts__h {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
}

.footer__contacts__l{
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.footer__links{
    display: flex;
    flex-direction: column;
}

.footer__links__h{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 35px;
}

A {
    margin-bottom: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #999999;
    font-size: 14px;
    font-weight: 400;
}

.footer__rights{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #999999;
    background-color: #F6F6F8;
    text-align: center;
    padding: 30px 0;
}